@import "_colors.scss";
$font-family-hacked:"Hacked";

body {
    margin: 0;
    background-color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header, footer {
    flex: none;
}

main {
    flex: 1 0 auto; /* 2 */
    padding: var(--space) var(--space) 0;
    width: 100%;

    &::after {
        content: '\00a0'; /* &nbsp; */
        display: block;
        margin-top: var(--space);
        height: 0px;
        visibility: hidden;
    }
}

a {
    color: $primary-color;
    font-weight: 400;

    &:hover {
        text-decoration: underline;
    }
}

a.btn, input.btn, button.btn {
    font-weight: 500;
    letter-spacing: 2px;

    &:hover {
        text-decoration: none;
    }

    &.primary {
        background-color: $primary-color;

        &:hover {
            background-color: $primary-color-hover;
        }
    }

    &.secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: $secondary-color-hover;
        }
    }
}

button.github-btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    & div {
        display: inline-block;
        vertical-align: top;
        margin-top: 10px;
    }
}

.mt20 {
    margin-top: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mt10 {
    margin-top: 10px;
}

.ml10 {
    margin-left: 10px;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

.promo-text {
    color: #667;
    line-height: 35px;
    font-size: 30px;
    font-weight: 300;
}

.nav-wrapper a {
    font-family: $font-family-hacked;
    font-size: 25px;

    &:hover {
        text-decoration: none;
    }
}

a.brand-logo {
    font-family: $font-family-hacked;
    font-size: 32px;
}

nav {
    background-color: #934A5F;

    .button-collapse i {
        font-size: 2.7rem;
        height: 56px;
        line-height: 56px;
    }

    .preloader-wrapper.small {
        width: 25px;
        height: 25px;
        top: 7px;
    }
}

.dropdown-content li > a, .dropdown-content li > span {
    color: black;
}

#sidenav-overlay {
    z-index: auto;
}

footer {
    background-color: #E5E5E5;
    height: 400px;
    margin-top: 10px;
}

.sub-footer {
    font-family: $font-family-hacked;
    padding-top: 12px;
    color: #FFFFFF;
    background-color: #57648C;

    .row {
        margin-bottom: 0px;
    }
}

.jumbotron {
    position: relative;
    height: 300px;
    background: url("../content/it-guy.jpg") no-repeat center center;
    background-size: cover;
}

.code-snippets {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.1);
    overflow: hidden;
    display: none;
    font-size: 8px;
    color: #444444;
}

.promo {
    height: 200px;
    background-color: #57648C;
}

.search-bar {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    position: relative;

    .search-wrapper {
        width: 70%;

        #search {
            font-family: $font-family-hacked;
            font-size: 4vw;
            color: #FFFFFF;
            margin-left: auto;
            margin-right: auto;
            display: block;
            letter-spacing: 3px;
            word-spacing: 9px;

            &:focus {
                border-bottom: 1px solid #934A5F;
                box-shadow: 0 1px 0 0 #934A5F;
            }

            $color: #999999;
            $fontWeight: 300;
            $opacity: 0.7;
            $textAlign: center;

            &::-webkit-input-placeholder {
                color: $color;
                font-weight: $fontWeight;
                opacity: $opacity;
                text-align: $textAlign;
            }

            &:-ms-input-placeholder {
                color: $color;
                font-weight: $fontWeight;
                opacity: $opacity;
                text-align: $textAlign;
            }

            &::-moz-placeholder {
                color: $color;
                font-weight: $fontWeight;
                opacity: $opacity;
                text-align: $textAlign;
            }
        }
    }

    .search-btn-wrapper {
        width: 25%;

        #search-button {
            font-family: $font-family-hacked;
            font-size: 3.5vw;
            display: block;
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}


input:not([type]).input-validation-error,
input[type=text].input-validation-error,
input[type=password].input-validation-error,
input[type=email].input-validation-error,
input[type=url].input-validation-error,
input[type=time].input-validation-error,
input[type=date].input-validation-error,
input[type=datetime].input-validation-error,
input[type=datetime-local].input-validation-error,
input[type=tel].input-validation-error,
input[type=number].input-validation-error,
input[type=search].input-validation-error,
textarea.materialize-textarea.input-validation-error {
    border-bottom: 1px solid #da291c;
    -moz-box-shadow: 0 1px 0 0 #da291c;
    -webkit-box-shadow: 0 1px 0 0 #da291c;
    box-shadow: 0 1px 0 0 #da291c;
}

.field-validation-error {
    color: $validation-error-color;
    font-size: 12px;
    display: block;
    line-height: 20px;
    font-weight: 500;
    margin: -20px 0 10px;
}

.licensing-info {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}

.page-title {
    font-size: 32px;
    font-family: $font-family-hacked;
    font-weight: 400;
}

.social-login {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.need-an-account {
    line-height: .1em;
    border-bottom: 1px solid $border-color;
    width: 100%;
    text-align: center;
    margin: 30px 0 30px;
    span{
        padding: 0 10px;
        background: #fff;
    }
}

.modal {
    .modal-header {
        padding: 20px 30px 10px 30px;
        font-family: $font-family-hacked;
        .close-modal {
            position: absolute;
            top: 6px;
            right: 20px;
            a {
                color: $secondary-color;

                &:hover {
                    color: $primary-color;
                }
            }
            .icon-bar {
                position: relative;
                width: 20px;
                height: 20px;
                background-color: transparent;

                &::before {
                    width: 20px;
                    height: 3px;
                    background-color: silver;
                    display: block;
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: 0;
                    transform: rotate3d(0,0,1,45deg);
                }

                &::after {
                    width: 20px;
                    height: 3px;
                    background-color: silver;
                    display: block;
                    content: "";
                    position: absolute;
                    top: 20px;
                    right: 0;
                    transform: rotate3d(0,0,1,-45deg);
                }
            }
        }
    }
}
