@using System.Threading.Tasks
@using UI.Localization
@{
    ViewBag.Title = "Home Page";
}

@section JumbotronSection {
<div class="jumbotron">
    <div class="code-snippets">
<pre>



</pre>
    </div>
</div>
}

@section PromoSection {
    <div class="search-bar">
    <div class="valign left search-wrapper">
        <input id="search" placeholder="@LayoutContent.FindAProjectText" type="text" />
    </div>

    <div class="valign left ml10 search-btn-wrapper">
        <a id="search-button" class="btn secondary btn-large" href="#">@LayoutContent.SearchButtonText</a>
    </div>
</div>
}