@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.ForgotPasswordViewModel
<form asp-controller="Account" asp-action="ForgotPassword">
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <input type="submit" value="@AccountContent.ResetPasswordText" />
</form>