@using System.Threading.Tasks
@using UI.Localization;

@model UI.Models.ForgotPasswordViewModel
<div class="container">
    <div class="row">
        <div class="col s12 page-title mt20">
            @AccountContent.SuccessText
        </div>
        <div class="col s12">
            @string.Format(AccountContent.ResetLinkEmailText, Model.Email)
        </div>
    </div>
</div>
