@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.ForgotPasswordViewModel

<div class="container">
    <div class="row paper mt20">
        <div class="col s12">
            <form asp-controller="Account" asp-action="ForgotPassword">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col s8 push-m2">
                        <div class="col s12 page-title">@AccountContent.ForgottenPasswordText</div>
                        <div class="input-field col s12">
                            <input asp-for="Email" />
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email" class="field-validation-error"></span>
                        </div>
                        <div class="col s6 push-s6 right-align">
                            <input type="submit" class="btn primary" value="@AccountContent.ResetPasswordText" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>