@using UI.Models
@using UI.Localization;
@model RegisterViewModel
<div class="container">
    <div class="row paper mt20">
        <div class="col s12">
            <form asp-controller="Account" asp-action="Register">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col s12 m8 push-m2">
                        <div class="col s12 page-title">@AccountContent.RegistrationPageTitle</div>
                        <div class="input-field col s12 m6">
                            <input asp-for="FirstName" />
                            <label asp-for="FirstName"></label>
                            <span asp-validation-for="FirstName" class="field-validation-error"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input asp-for="LastName" />
                            <label asp-for="LastName"></label>
                            <span asp-validation-for="LastName" class="field-validation-error"></span>
                        </div>
                        <div class="input-field col s12">
                            <input asp-for="Email" />    
                            <label asp-for="Email"></label>
                            <span asp-validation-for="Email" class="field-validation-error"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input asp-for="Password" />
                            <label asp-for="Password"></label>    
                            <span asp-validation-for="Password" class="field-validation-error"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <input asp-for="PasswordConfirm" />
                            <label asp-for="PasswordConfirm"></label>
                            <span asp-validation-for="PasswordConfirm" class="field-validation-error"></span>
                        </div>
                        
                        <div class="input-field col s12">
                            <select asp-for="CompanyId" asp-items="@(new SelectList(Model.Companies, "Value", "Text"))"></select>
                            <label asp-for="CompanyId"></label>
                        </div>
                        <div class="col s6 push-s6 right-align">
                            <input type="submit" class="btn primary" value="@AccountContent.RegisterText" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
