@using UI.Localization
@model UI.Models.RegistrationCompleteViewModel

<div>@AccountContent.RegistrationCompleteText</div>
<div>@string.Format(AccountContent.ActivationGuideText, Model.FirstName, Model.Email)</div>