@using System.Threading.Tasks
@using UI.Localization
@using UI.Models
@model RegisterViewModel
<div class="container">
    <div class="row paper mt20">
        <div class="col s12">
            @Html.EditorForModel(new { Controller = "Account", Action = "Register", HideTitle = false, FormTitle = @AccountContent.RegistrationPageTitle, HidePassword = false, ReadOnlyEmail = false })
        </div>
    </div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/register-user.js" asp-append-version="true"></script>
    </environment>
}