@using UI.Models
@using UI.Localization;
@model RegisterViewModel

<form asp-controller="Account" asp-action="Register">
    <label asp-for="FirstName"></label>
    <input asp-for="FirstName"/>
    <label asp-for="LastName"></label>
    <input asp-for="LastName"/>
    <label asp-for="Email"></label>
    <input asp-for="Email"/>
    <label asp-for="Password"></label>
    <input asp-for="Password"/>
    <label asp-for="PasswordConfirm"></label>
    <input asp-for="PasswordConfirm"/>
    <label asp-for="CompanyId"></label>
    <select asp-for="CompanyId" asp-items="@(new SelectList(Model.Companies, "Value", "Text"))"></select>
    <input type="submit" value="@AccountContent.RegisterText"/>
</form>
