@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.ResetPasswordViewModel

<div class="container">
    <div class="row paper mt20">
        <div class="col s12">
            <form asp-controller="Account" asp-action="ResetPassword">
                <div class="row">
                    <div class="col s12 m8 push-m2">
                        <div class="col s12 page-title">@AccountContent.ResetPasswordText</div>
                        <div class="input-field col s12 m6">
                            <input asp-for="ProtectedId" type="hidden" />
                            <input asp-for="ResetToken" type="hidden" />
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" />
                            <span asp-validation-for="NewPassword" class="field-validation-error"></span>
                        </div>
                        <div class="input-field col s12 m6">
                            <label asp-for="NewPasswordConfirm"></label>
                            <input asp-for="NewPasswordConfirm" />
                            <span asp-validation-for="NewPasswordConfirm" class="field-validation-error"></span>
                        </div>
                        <div class="col s6 push-s6 right-align">
                            <input type="submit" class="btn primary" value="@AccountContent.ResetPasswordText" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
