@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.ResetPasswordViewModel

<form asp-controller="Account" asp-action="ResetPassword">
    <label asp-for="NewPassword"></label>
    <input asp-for="NewPassword"/>
    <label asp-for="NewPasswordConfirm"></label>
    <input asp-for="NewPasswordConfirm"/>
    <input asp-for="ProtectedId" type="hidden"/>
    <input asp-for="ResetToken" type="hidden" />
    <input type="submit" value="@AccountContent.ResetPasswordText" />
</form>