@using System.Threading.Tasks
@using UI.Localization
@using UI.Models
@using UI.Utilities
@inject IValidPasswordGenerator ValidPasswordGenerator
@model RegisterViewModel

@{
    string generatedPassword = ValidPasswordGenerator.GenerateValidPassword();
    Model.Password = generatedPassword;
    Model.PasswordConfirm = generatedPassword;
}
<div class="container">
    <div class="row paper mt20">
        <div class="col s12">
            @string.Format(AccountContent.ExternalLoginSuccess, Model.FirstName, Model.Provider)
            @Html.EditorForModel(new {Controller = "Account", Action = "RegisterExternal", HideTitle = true, HidePassword = true, ReadOnlyEmail = true})
        </div>
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/js/register.js" asp-append-version="true"></script>
        <script src="~/js/create-organization.js" asp-append-version="true"></script>
    </environment>
}