@using System.Threading.Tasks
@using UI.Localization
@model UI.Models.ActivationEmailViewModel


<div>
    @string.Format(AccountContent.AddressUserByNameText, Model.User.FirstName)
</div>
<div>
    @Html.Raw(string.Format(AccountContent.ResetPasswordEmailBodyText, Model.ActivationUrl));
</div>